@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Lato", sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* Customizing scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-clip: content-box;
  border: 2px solid transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #8c52ff;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8c52ffdb;
}
